@font-face {
    font-family: 'Satoshi-Black';
    src: url('../../assets/font/Satoshi-Black.woff2') format('woff2'),
        url('../../assets/font/Satoshi-Black.woff') format('woff'),
        url('../../assets/font/Satoshi-Black.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi-Medium';
    src: url('../../assets/font/Satoshi-Medium.woff2') format('woff2'),
        url('../../assets/font/Satoshi-Medium.woff') format('woff'),
        url('../../assets/font/Satoshi-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

